<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<heah>

    <title>Desafio</title>
    <!--CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!--Icones do Google-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</heah>

<body>

    <header>
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1" style="font-weight: bold;">Desafio Dígito Unico</span>
            <a href="/newUsuario" class="btn btn-primary" role="button">Inserir usuário</a>
        </nav>
    </header>

    <section>
        <div class="container" style="width:60%; padding-bottom: 30px;">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color: white; padding-left: 0px;">
                    <li class="breadcrumb-item active" aria-current="page">Usuários</li>
                </ol>
            </nav>


            <div class="card shadow-sm bg-white rounded" style="margin-top: 20px;" th:each="usuario : ${usuarios}">
                <div class="card-body">
                    <a class="card-subtitle mb-2 text-muted" style="font-size: 0.8rem;">
                        <a th:href="${(#mvc.url('DC#getDetalhesUsuario').arg(0, usuario.id)).build()}">
                           <h5><span th:text="${usuario.nome}"></span></h5>
                        </a>
                        <span th:text="${usuario.email}"></span>
                        <br>
                        <a th:href="${(#mvc.url('DC#getEditarUsuario').arg(0, usuario.id)).build()}"><i class="material-icons">edit</i></a>
                        <a th:href="${(#mvc.url('DC#getExcluirUsuario').arg(0, usuario.id)).build()}"><i class="material-icons">delete_forever</i></a>
                        <br>
                        <a th:href="${(#mvc.url('DC#getCalcularDigitoUnicoForm').arg(0, usuario.id)).build()}" class="btn btn-primary" role="button" style="margin-top: 5px">Calcular Dígito Único</a>
                    </p>

                </div>
            </div>
        </div>
    </section>

</body>

</html>